<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rootDbPath" value=".\DB"/>
    <add key="schemaScriptPathName" value="Scripts"/>
  </appSettings>
  <connectionStrings>
    <add name="MyTestDatabase" connectionString="Server=.\SQLEXPRESS;Trusted_Connection=True;"/>

    <add name="mssql-MyTestDatabaseA" connectionString="Server=.\SQLEXPRESS;Trusted_Connection=True;"/>
    <add name="MsSql-MyTestDatabaseB" connectionString="Server=.\SQLEXPRESS;Trusted_Connection=True;"/>
    <add name="MSSQL-MyTestDatabaseC" connectionString="Server=.\SQLEXPRESS;Trusted_Connection=True;"/>
    <add name="mSsQL-MyTestDatabaseD" connectionString="Server=.\SQLEXPRESS;Trusted_Connection=True;"/>
    
  </connectionStrings>
</configuration>